.main {
    padding: 20px 40px 0px 40px;
}

.header {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.btn-history {
    background-color: #2f9De2;
    padding: 18px 30px 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.mytable {
    width: 100%;
    color: white;
    border: gray 1px solid;
    border-radius: 5px;
    text-align: left;
}